<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <style>


    </style>
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
</head>







<body>
    <div id="wrapper">
    <div id="content">
    <nav>
        <h1>
                olea
                <span id="content-manager">Content Manager</span></h1>
                
                
                <ul>
                    <li class="active-page">Specials</li>
                    <a href="/dinnerUpdateCuredMeats"><li id="dinner">Dinner</li></a>
                    <a href="dessertUpdateDesserts"><li>Dessert</li></a>
                    <li>Wine/Drinks</li>
                    <a href="/archive"><li id="archive">Archive</li></a>
                </ul>
                <ul id="nav-ul-bottom">
                    <li class="active-page">Edit Menu Items</li>
                    <a href="/riojasFormatLayout"><li id="specials-format-layout">Format Layout</li></a>
                    <a href="/riojasPrintPreview"><li id="specials-print-preview">Print Preview</li></a>
                </ul>
                <ul id="nav-ul-liquors">
                    <li>Vodka</li>
                    <li>Gin</li>
                    <li>Rum</li>
                    <li>Tequila</li>
                </ul>
                <ul id="nav-ul-liquors-bottom">
                    <li>Bourbon</li>
                    <li>Rye</li>
                    <li>Scotch</li>
                    <li class="active-page">Japanese Whisky</li>
                </ul>
                
    </nav>
    <main>        
            <h1>japanese whisky</h1>
           
       
        
        <ul class="specials-appetizers">
          <% for(let i=0; i<info.length;i++){ 
            if( info[i].category == "Liquor" && 
                info[i].type == "Japanese Whisky"){ %>
          <li class="special">
            
            <div><%= info[i]._id %></div>
            <span><%= info[i].name %></span> / 
            <span><%= info[i].price %></span>

            <div><%- `${info[i].timestamp}`.substring(0,24) %></div>
            <span class="edit-wine"><i class="fa-solid fa-pencil"></i> Edit</span
                >&nbsp;&nbsp;
                <span class="archive"
                ><i class="fa-solid fa-box-archive"></i> Archive</span
                >&nbsp;&nbsp;
                <span class="del"><i class="fa-solid fa-trash-can"></i> Delete</span
                    >&nbsp;&nbsp;
                    
           </li>
           <br>
          <% } } %>
        </ul>
    
    
        <h2>Add New Wine:</h2>
    
        <form action="/addWine" method="POST">
          <input type="text" placeholder="Category" name="category" /><br />
          <input type="text" placeholder="Grapes" name="grapes" /><br />
          <input type="text" placeholder="Name" name="name" /><br />
          <input type="text" placeholder="Description" name="description" /><br />
          <input type="text" placeholder="Vintage" name="vintage" /><br />
          <input type="text" placeholder="Producer" name="producer" /><br />
          <input type="text" placeholder="Region" name="region" /><br />
          <input type="text" placeholder="Price" name="price" /><br />
          <input type="submit" id="update-button" value="Create" />
        </form>
    
        <h2>Edit Exisiting Wine:</h2>
    
        <form action="/editWine" method="POST">
          <div name="_id" id="display-ID"></div>
          <input type="text" id="edit-id" placeholder="ID#" name="_id" /><br />
          <input
            type="text"
            id="edit-category"
            placeholder="Category"
            name="category"
          /><br />
          <input 
            type="text" 
            id="edit-grapes"
            placeholder="Grapes" 
            name="grapes" 
            /><br />
            <input 
            type="text" 
            id="edit-name"
            placeholder="Name" 
            name="name" 
            /><br />
          <textarea
            rows="5"
            cols="40"
            placeholder="Description"
            id="edit-description"
            name="description"
          ></textarea
          ><br />
          <input
            type="text"
            id="edit-vintage"
            placeholder="Vintage"
            name="vintage"
          /><br />
          <input
            type="text"
            id="edit-producer"
            placeholder="Producer"
            name="producer"
          /><br />
          <input
            type="text"
            id="edit-region"
            placeholder="Region"
            name="region"
          /><br />

          <input
            type="text"
            id="edit-price"
            placeholder="Price"
            name="price"
          /><br />
    
    
          <input type="submit" value="Update" />
        </form>
        
      </main>
        <footer>
            <ul>
                <li>Specials</li>
                <li>Dinner</li>
                <li>Dessert</li>
                <li>Wine/Drinks</li>
                <li>Archive</li>
            </ul>
        </footer>
    </div><!--#content-->
    </div><!--#wrapper-->
    
        <script src="main.js"></script>
        <script>
            const editWine = document.querySelectorAll('.edit-wine')   
            
            Array.from(editWine).forEach((element)=>{
                element.addEventListener('click', populateWineForm)
            })
            function populateWineForm(){

                const editID = this.parentNode.childNodes[1].innerText
                document.querySelector('#display-ID').innerText = editID;
                document.querySelector('#edit-id').value = editID;
                document.querySelector('#edit-grapes').value = this.parentNode.childNodes[3].innerText;
                document.querySelector('#edit-category').value = this.parentNode.childNodes[15].innerText;
                document.querySelector('#edit-name').value = this.parentNode.childNodes[5].innerText;
                document.querySelector('#edit-description').value = this.parentNode.childNodes[7].innerText;
                document.querySelector('#edit-vintage').value = this.parentNode.childNodes[9].innerText;
                document.querySelector('#edit-region').value = this.parentNode.childNodes[17].innerText;
                document.querySelector('#edit-producer').value = this.parentNode.childNodes[11].innerText;
                document.querySelector('#edit-price').value = this.parentNode.childNodes[13].innerText;
            }
            Array.from(deleteText).forEach((element)=>{
              element.removeEventListener('click', deleteSpecial)
            })
            Array.from(deleteText).forEach((element)=>{
              element.addEventListener('click', deleteWine)
            })
        </script>
       
</body>
</html>