<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <style>


    </style>
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
</head>







<body>
    <div id="wrapper">
    <div id="content">
    <nav>
        <h1>
                olea
                <span id="content-manager">Content Manager</span></h1>
                
                
                <ul>
                    <li class="active-page">Specials</li>
                    <a href="/dinnerUpdateCuredMeats"><li id="dinner">Dinner</li></a>
                    <a href="dessertUpdateDesserts"><li>Dessert</li></a>
                    <li>Wine/Drinks</li>
                    <a href="/archive"><li id="archive">Archive</li></a>
                </ul>
                <ul id="nav-ul-bottom">
                    <li class="active-page">Edit Menu Items</li>
                    <a href="/liquorFormat"><li id="liquor-format">Format Layout</li></a>
                    <a href="/liquorPrint"><li id="liquor-print">Print Preview</li></a>
                </ul>
                <ul id="nav-ul-liquors">
                    <li class="active-page">Vodka</li>
                    <li><a href="/gin">Gin</a></li>
                    <li><a href="/rum">Rum</a></li>
                    <li>Tequila</li>
                </ul>
                <ul id="nav-ul-liquors-bottom">
                    <li>Bourbon</li>
                    <li>Rye</li>
                    <li>Scotch</li>
                    <li>Japanese Whisky</li>
                </ul>
                
    </nav>
    <main>        
            <h1>liquors</h1>
           
       
        
        <ul class="specials-appetizers">
          <% for(let i=0; i<info.length;i++){ 
            if( info[i].category == "Liquor" && 
                info[i].type == "Vodka"){ %>
          <li class="special">
            
            <div><%= info[i]._id %></div>
            <span><%= info[i].name %></span> / 
            <span><%= info[i].price %></span>

            <br>

            <span class="edit-wine"><i class="fa-solid fa-pencil"></i> Edit</span
                >&nbsp;&nbsp;
                
                <span class="del"><i class="fa-solid fa-trash-can"></i> Delete</span
                    >&nbsp;&nbsp;
                    
           </li>
           <br>
          <% } } %>
        </ul>
    
    
        <h2>Add New Liquor:</h2>
    
        <form action="/addLiquor" method="POST">
          <input type="text" placeholder="Category" name="category" /><br />
          <input type="text" placeholder="Type" name="type" /><br />
          <input type="text" placeholder="Name" name="name" /><br />
          <input type="text" placeholder="Price" name="price" /><br />
          <input type="submit" id="update-button" value="Create" />
        </form>
    
        <h2>Edit Existing Liquor:</h2>
    
        <form action="/editLiquor" method="POST">
          <div name="_id" id="display-ID"></div>
          <input type="text" id="edit-id" placeholder="ID#" name="_id" /><br />
          <input
            type="text"
            id="edit-category"
            placeholder="Category"
            name="category"
          /><br />
          <input 
            type="text" 
            id="edit-type"
            placeholder="Type" 
            name="type" 
            /><br />
            <input 
            type="text" 
            id="edit-name"
            placeholder="Name" 
            name="name" 
            /><br />
          <input
            type="text"
            id="edit-price"
            placeholder="Price"
            name="price"
          /><br />
    
    
          <input type="submit" value="Update" />
        </form>
        
      </main>
        <footer>
            <ul>
                <li>Specials</li>
                <li>Dinner</li>
                <li>Dessert</li>
                <li>Wine/Drinks</li>
                <li>Archive</li>
            </ul>
        </footer>
    </div><!--#content-->
    </div><!--#wrapper-->
    
        <script src="main.js"></script>
        <script>
            const editWine = document.querySelectorAll('.edit-wine')   
            
            Array.from(editWine).forEach((element)=>{
                element.addEventListener('click', populateLiquorForm)
            })
            function populateLiquorForm(){

                const editID = this.parentNode.childNodes[1].innerText
                document.querySelector('#display-ID').innerText = editID;
                document.querySelector('#edit-id').value = editID;
                document.querySelector('#edit-category').value = this.parentNode.childNodes[15].innerText;
                document.querySelector('#edit-name').value = this.parentNode.childNodes[5].innerText;
                document.querySelector('#edit-price').value = this.parentNode.childNodes[13].innerText;
            }
            Array.from(deleteText).forEach((element)=>{
              element.addEventListener('click', deleteLiquor)
            })
        </script>
       
</body>
</html>