*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     
}
@font-face{
    font-family: FuturaLight;
    src: url("assets/FuturaLight.otf");
}
@font-face{
    font-family: FuturaMedium;
    src: url("assets/FuturaMedium.otf");
}
@font-face{
    font-family: FuturaHeavy;
    src: url("assets/FuturaHeavy.otf");
}
a{
    text-decoration:none;
    color:black;
}
nav a{
    flex:1;
}
nav a:visited{
    color:black;
}

.name{
    font-family: FuturaMedium;
}
h2{
    font-family: FuturaHeavy;
}

.allergies{
    color:red;
}
.edit, .edit-wine{
    color:rgb(183, 183, 0);
}

ul{
    list-style-type:none;
}
.name, .price{
    font-weight:900;
}
body{
    overflow-x:hidden;
    min-height:100vh;
    overflow-y: scroll;
}
button, #save-changes{
    padding:10px 0px;
    cursor:pointer;
    width:130px;
    margin: 0 auto;
    margin-bottom:20px;
}

#wrapper{
    position: relative;
    width:100%;
    min-height:100vh;
    display:grid;
    place-content: center;
}

h1{
    font-family: FuturaLight;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

nav li{
    flex:1;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

nav ul{
    width:100%;
    display:flex;
    width:60ch;
}
.unarchive,
.delete-archive,
.del,
.edit,
.edit-wine,
.archive,
.transfer,
.move-up,
.move-down {
cursor: pointer;
font-size: 20px;
}
.move-up, .move-down{
transform:scaleX(3);
color:green;
width:100%;
text-align: center;
}
.transfer {
color: blue;
}
.del, .delete-archive {
color: red;
}

.archive, .unarchive {
color: #654321;
}

li {
max-width: 50ch;
}
.active-page{
background: black;
color:white;
cursor: none;
}
nav{
    width:60ch;
    margin:0 auto;
    margin-bottom:50px;
}
nav h1{
    padding:0 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#content-manager{
    font-size:20px;
}
#content{
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
footer ul{
    display:flex;
    width:100%;
}
footer li{
    flex:1;
    text-align: center;
}
footer{
    margin-top: 20px;
    width:60ch;
    margin:0 auto;
    margin-top:auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media print{
    .no-print{
        display: none !important;
    }
}
#printer-dead-space{
                width:5in;
                height:75px;
                position:absolute;
                bottom:0;
                left:0;
                background:#ccccccdd;
}